In [1]:
dic1={
    1:'abc',
    2:'cde',
    3:'xyz'
}

In [2]:
dic1

{1: 'abc', 2: 'cde', 3: 'xyz'}

In [8]:
dic1.values()

dict_values(['abc', 'cde', 'xyz'])

# Strings

In [10]:
char='a'
name='python'
zz=''

In [2]:
str1='Eswar'
str2="Revanth"

In [3]:
str1

'Eswar'

In [4]:
str2

'Revanth'

In [10]:
str3="""I
love
Python """

In [11]:
str3

'I\nlove\nPython '

In [12]:
print(str3)

I
love
Python

In [14]:
type(str1)

str

In [15]:
len(str2)

7

In [17]:
str2[3:]

'anth'

In [21]:
text=input("Enter a string")

In [23]:
'Python'+' '+'Revanth'

'Python Revanth'

In [25]:
'Revanth '*2

'Revanth Revanth '

In [26]:
'R' in "Python"

False

In [27]:
'e' in 'revanth'

True

In [28]:
'j' not in 'Python'

True

## String functions and methods

In [29]:
str2.capitalize()

'Revanth'

In [30]:
'bunny'.capitalize()

'Bunny'

In [31]:
'python is awesome'.capitalize()

'Python is awesome'

In [32]:
'bunny'.upper()

'BUNNY'

In [33]:
"PYTHON".lower()

'python'

In [34]:
# Swapcase()
'Python Is AwesOME'.swapcase()

'pYTHON iS aWESome'

In [35]:
# title() returns the first word of string as upper
'python is awesome'.title()

'Python Is Awesome'

In [36]:
# isLower() isUpper()
'revanth'.islower()

True

In [37]:
'python'.islower()

True

In [38]:
'Python'.islower()

False

In [40]:
# isalpha(), isnumeric()
'myageis25'.isalpha()

False

In [41]:
23.isnumeric()

<>:1: SyntaxWarning: invalid decimal literal
<>:1: SyntaxWarning: invalid decimal literal
C:\Users\Admin\AppData\Local\Temp\ipykernel_14808\1398779995.py:1: SyntaxWarning: invalid decimal literal
  23.isnumeric()

SyntaxError: invalid syntax (1398779995.py, line 1)

In [42]:
value='22'
value.isnumeric()

True

In [43]:
'11'.isnumeric()

True

In [44]:
'11'.isdigit()

True

# Dictionary

In [4]:
x={1:'abc',
   2:'cde',
   3:'rev',
   4:'ter',
   5:'poi'}

In [5]:
for i in x.keys():
    print(i)

1
2
3
4
5

In [6]:
for i in x.values():
    print(i)

abc
cde
rev
ter
poi

In [7]:
for i in x.items():
    print(i)

(1, 'abc')
(2, 'cde')
(3, 'rev')
(4, 'ter')
(5, 'poi')

In [8]:
print(x)

{1: 'abc', 2: 'cde', 3: 'rev', 4: 'ter', 5: 'poi'}

In [11]:
a={} # Empty dictionary

In [10]:
type(a)

dict

In [12]:
int_dict={
    1:'One',
    2:'Two',
    3:'Three'
}

In [15]:
int_dict[10]

KeyError: 10

In [16]:
mix_dict={
    1:'Revanth',
    'a':'Apple'
}

In [17]:
mix_dict

{1: 'Revanth', 'a': 'Apple'}

In [18]:
list_dict={
    'revanth':['Data science','Devops','Data Engineering'],
    'eswar':['analytics','Python'],
    'rc':('item1','item2')
}

In [24]:
list_dict['revanth'][1]

'Devops'

In [25]:
list_dict.get('rc')

('item1', 'item2')

In [26]:
students={
    1:'Revanth',
    2:'Eswar',
    3:'Rc',
    4:'Python'
}

In [27]:
students

{1: 'Revanth', 2: 'Eswar', 3: 'Rc', 4: 'Python'}

In [28]:
students[5]='Rutgers'

In [29]:
students

{1: 'Revanth', 2: 'Eswar', 3: 'Rc', 4: 'Python', 5: 'Rutgers'}

In [30]:
students.update({6:'USA'})

In [31]:
students

{1: 'Revanth', 2: 'Eswar', 3: 'Rc', 4: 'Python', 5: 'Rutgers', 6: 'USA'}

In [32]:
students[4]='SQL'

In [33]:
students

{1: 'Revanth', 2: 'Eswar', 3: 'Rc', 4: 'SQL', 5: 'Rutgers', 6: 'USA'}

## Functions in dictionary

In [34]:
len(students)

6

In [37]:
min(students.keys())

1

In [38]:
min(students.values())

'Eswar'

In [40]:
sorted(students.values())

['Eswar', 'Rc', 'Revanth', 'Rutgers', 'SQL', 'USA']

In [41]:
sorted(students.items())

[(1, 'Revanth'),
 (2, 'Eswar'),
 (3, 'Rc'),
 (4, 'SQL'),
 (5, 'Rutgers'),
 (6, 'USA')]

In [42]:
students.update({-1:"Jersey"})

In [43]:
students

{1: 'Revanth',
 2: 'Eswar',
 3: 'Rc',
 4: 'SQL',
 5: 'Rutgers',
 6: 'USA',
 -1: 'Jersey'}

In [47]:
sorted(students.items())

[(-1, 'Jersey'),
 (1, 'Revanth'),
 (2, 'Eswar'),
 (3, 'Rc'),
 (4, 'SQL'),
 (5, 'Rutgers'),
 (6, 'USA')]

In [48]:
students

{1: 'Revanth',
 2: 'Eswar',
 3: 'Rc',
 4: 'SQL',
 5: 'Rutgers',
 6: 'USA',
 -1: 'Jersey'}

In [50]:
students.pop(-1)

'Jersey'

In [51]:
students

{1: 'Revanth', 2: 'Eswar', 3: 'Rc', 4: 'SQL', 5: 'Rutgers', 6: 'USA'}

In [52]:
students.update({-10:"test"})

In [53]:
students

{1: 'Revanth',
 2: 'Eswar',
 3: 'Rc',
 4: 'SQL',
 5: 'Rutgers',
 6: 'USA',
 -10: 'test'}

In [57]:
students.pop('test','not found')

'not found'

In [58]:
students

{1: 'Revanth',
 2: 'Eswar',
 3: 'Rc',
 4: 'SQL',
 5: 'Rutgers',
 6: 'USA',
 -10: 'test'}

In [61]:
students.popitem() # This removes the last inserted item in the dictionary

(6, 'USA')

In [62]:
students

{1: 'Revanth', 2: 'Eswar', 3: 'Rc', 4: 'SQL', 5: 'Rutgers'}

In [63]:
students_new=students.copy()

In [64]:
students_new

{1: 'Revanth', 2: 'Eswar', 3: 'Rc', 4: 'SQL', 5: 'Rutgers'}

In [65]:
students_new.pop(1)

'Revanth'

In [66]:
students_new

{2: 'Eswar', 3: 'Rc', 4: 'SQL', 5: 'Rutgers'}

In [67]:
students.setdefault(1,'Revvv')

'Revanth'

In [68]:
students

{1: 'Revanth', 2: 'Eswar', 3: 'Rc', 4: 'SQL', 5: 'Rutgers'}

# Shallow copy & Deep Copy

In [70]:
list1=[1,2,3,4]
list2=list1

In [79]:
id(list1)

2485687839040

In [80]:
id(list2)

2485687839040

In [81]:
list2[1]=200

In [82]:
list2

[1, 200, 3, 4]

In [83]:
list1

[1, 200, 3, 4]

In [84]:
id(list2)

2485687839040

In [85]:
id(list1)

2485687839040

In [86]:
list1=[1,2,3,4]
list2=list1.copy() # this is a kind of shallow copy

In [87]:
id(list1), id(list2)

(2485687943872, 2485687956672)