# Functions

In [ ]:
def add(a,b):
    return a+b

sum=add(1,2)
print(sum)

In [ ]:
def greet(name):
    print(f'Hello, {name}')

greet('Revanth')

In [ ]:
type(greet)

In [ ]:
greet()

In [ ]:
greet(1)

In [ ]:
add(2,3)

In [ ]:
def absolute(num):
    return abs(num)

In [ ]:
absolute(-7)

In [ ]:
absolute(9)

In [ ]:
absolute(sum)

In [ ]:
def factorial(num):
    if num == 0 or num ==1:
        return 1
    else:
        return num * factorial(num-1)

factorial(10)

In [ ]:
## variable length arguments

In [ ]:
def var_length(*num):
    result=0
    for i in num:
        result=result+i
    return result
var_length(1,2,3,4,5,6)

In [ ]:
var_length(2,3,4)

In [ ]:
def cal_area(radius,pi=3.14):
    area=pi * (radius**2)
    return area
cal_area(10)

In [ ]:
def find_largest(*nums):
    largest=0
    for i in nums:
        if i>largest:
            largest=i
        i=i+1
    return largest

find_largest(3,5,9)

In [ ]:
find_largest(-1,-22,99)

In [29]:
def find_lstring(*words):
    large=''
    for i in words:
        if len(i)>len(large):
            large=i
    return len(large)

find_lstring('America','India','Awesomeness')

11

# Part-2

In [1]:
def multi(*args):
    sum=0
    for i in args:
        sum=sum+i
    return sum

multi(1,2,3,4)

10

In [2]:
s='I love python'
def f():
    print(s)
f()

I love python

In [3]:

def f():
    print(s)
s='I love python'
f()

I love python

In [4]:
a='I love sql'
def abc():
    a='i love data'
    print(a)
abc()
print(a)

i love data
I love sql

In [1]:

def f():
    print(s)
f()
s='I love python'

NameError: name 's' is not defined

In [2]:
def test():
    myname='Python'
    print(myname)
test()

Python

In [3]:
def test():
    myname='Python'
    print(myname)
test()
print(myname)

Python

NameError: name 'myname' is not defined

In [4]:
def test():
    global myname
    myname='Python'
    print(myname)
test()
print(myname)

Python
Python

## Lambda functions

In [5]:
sum = lambda a,b: a+b

In [6]:
sum

In [7]:
sum(2,3)

5

In [8]:
multi = lambda a,b: a*b

In [9]:
multi(2,3)

6

In [10]:
type(multi)

function

In [15]:
squares= lambda a,b: (a**2,b**2)

In [16]:
squares(4,3)

(16, 9)

In [17]:
even_odd= lambda num : num%2==0

In [18]:
even_odd(10)

True

In [19]:
even_odd(11)

False

In [20]:
greater = lambda a,b: a if a>b else b

In [21]:
greater(8,10)

10

# MAP function

In [23]:
numbers=[2,3,4,5,6]
def squares(n):
    return n**2

squareno=map(squares,numbers)
tuple(squareno)

(4, 9, 16, 25, 36)

In [27]:
def inspect(str):
    if len(str)%2==0:
        return 'EVEN'
    else:
        return str[0]
inspect('Python')

'EVEN'

In [28]:
months=['January','February','March']

In [29]:
new_months=map(inspect,months)
list(new_months)

['J', 'EVEN', 'M']

# Filter function

In [34]:
def check_even(n):
    return n%2==0

numbers=[1,2,3,4,5,6,7,8,9,10]

map_ex=map(check_even,numbers)
list(map_ex)

[False, True, False, True, False, True, False, True, False, True]

In [36]:
filter_ex=filter(check_even,numbers)
list(filter_ex)

[2, 4, 6, 8, 10]

In [38]:
# Using Lambda
numbers=[2,3,4,5,6,7,8,9]
# def squares(n):
#     return n**2

squareno=map(lambda n: n*n,numbers)
tuple(squareno)

(4, 9, 16, 25, 36, 49, 64, 81)

In [39]:
# String program using lambda
months=['January','February','March']
first_map=map(lambda str: str[0], months)
list(first_map)

['J', 'F', 'M']

In [40]:
# String program using lambda
months=['January','February','March']
first_map=map(lambda str: 'EVEN' if len(str)%2==0 else str[0], months)
list(first_map)

['J', 'EVEN', 'M']

In [41]:
char_test=lambda char : 'True' if char in ['a','e','i','o','u'] else 'False'

In [42]:
char_test('a')

'True'

In [44]:
char_test('n')

'False'

In [47]:
name=input("Enter your name")
vowels=filter((lambda new: new in 'aeiou'), name)
print(list(vowels))

['a', 'i']